body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.user-header {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
}

.user-header-content {
  display: flex;
  justify-content: space-between;
}

.user-header-left,
.user-header-right {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 111px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  padding: 13px 55px 12px;
  margin-bottom: -5px;
}
.logo:hover {
  background-color: #ca2c37;
}
.logo:active {
  background-color: #ba2732;
}

.user-header-right {
  margin: 0;
}

.user-header-right a {
  display: block;
  padding: 12px 23px 12px;
}

.order-button a {
  padding-left: 20px;
  padding-right: 20px;
}

.low-header-content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 44px;
}

.low-header-content h1 {
  width: 196px;
}

.choice-item a,
.main-navigation a {
  list-style: none;
}

.main-site-navigation,
.choice-item,
.accaunt-menu {
  list-style: none;
}
.accaunt-menu {
  display: flex;
  margin: 0;
  align-items: center;
}
.accaunt-menu a {
  display: block;
  padding-top: 14px;
  padding-bottom: 11px;
}
.accaunt-menu-enter a {
  width: 121px;
  text-align: center;
}
.accaunt-menu-registration a {
  margin-left: 10px;
  width: 150px;
  text-align: center;
}
.main-site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}
.main-site-navigation a {
  list-style: none;
}
.main-site-navigation a {
  display: block;
  padding: 22px 34px 26px;
  font-size: 17px;
  line-height: 17px;
}
.main-site-navigation a:hover {
  background-color: #293449;
}
.main-site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
.choice-item a,
.main-navigation a {
  color: #ffffff;
}
.choice-item a {
  background-color: #293449;
}
.choice-item a:hover {
  background-color: #212a3a;
}
.choice-item a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.user-header img:hover {
  background-color: #ca2c37;
}
.user-header img:active {
  background-color: #ba2732;
}
.user-header input {
  list-style: none;
}
.user-header input {
  outline-style: none;
}
.low-header {
  background-color: #f4f7f9;
  padding-top: 46px;
  padding-bottom: 60px;
}
.choice-item a {
}
.order-button a {
  background-color: #63a63e;
}
.order-button a:hover {
  background-color: #5fbb2d;
}
.order-button a:active {
  background-color: #8a9a5b;
  color: rgba(255, 255, 255, 0.5);
}
.low-header h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  padding-left: 53px;
}
.accaunt-menu a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.accaunt-menu a:hover {
  color: #ee3643;
}
.accaunt-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}
.telephone-number,
.local {
  text-align: center;
  margin: 0;
}
.telephone-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: solid;
  border-color: #ffffff;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-bottom: 10px;
}
.local {
  font-size: 14px;
  line-height: 1;
  color: #32425c;
}
.main-navigation {
  background-color: #32425c;
}
.promo h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.promo a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}
.promo a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.tooling {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}
.technics {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}
.sale {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
}
.materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}
.free-delivery {
  background-color: #ffbf47;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
}
.popular-header,
.popular-brands-header {
  background-color: #f9f5f0;
}
.popular-header,
.popular-brands-header {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
}
.popular-header a,
.popular-brands-header a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
.slider-1 a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(238, 54, 67, 1);
}
.slider-1 a:hover {
  background-color: #ca2c37;
}
.slider-1 a:active {
  background-color: #ba2732;
}
.slider-title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.popular-catalog-preview {
  list-style: none;
}
.popular-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.popular-item a {
  color: #000000;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.new-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-image: url("../img/btn-copy-14.svg");
  background-repeat: no-repeat;
}
.popular-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.button-buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  box-shadow: 0px 3px 0px 0px rgba(54, 115, 21, 1);
}
.button-buy:hover {
  background-color: #5fbb2d;
  box-shadow: 0px 3px 0px 0px rgba(54, 115, 21, 1);
}
.button-buy:active {
  background-color: #8a9a5b;
}
a.button-buy {
  color: #ffffff;
}
a.button-bookmark {
  color: #32425c;
}
.button-bookmark {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: solid 3px #63a63e;
}
.button-bookmark:hover {
  border: solid 3px #32425c;
}
.button-bookmark:active {
  border: solid 3px rgba(50, 66, 92, 0.3);
}
a.button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
}
.popular-brands-list {
  list-style: none;
}
.popular-brands-item {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.popular-brands-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}
.popular-brands-item:active {
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
}
.popular-brands-item img:active {
  opacity: 0.3;
}
.service {
  background-color: #f4f7f9;
}
.service h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}
.service p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.service-list {
  list-style: none;
}
.button-service-list {
  font-size: 21px;
  line-height: 30px;
  font-weight: normal;
  color: #ffffff;
  background-color: #32425c;
  outline-style: none;
  box-shadow: inset 0 1px 0 0 #405069, 0 1px 0 0 #293449;
  border: 0;
}
.button-service-list:hover {
  background-color: #293449;
}
.button-service-list:active {
  color: #32425c;
  background-color: #ffffff;
  border: 0;
}
.service-description {
  list-style: none;
}
.service-description h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}
.company-info {
  display: flex;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 86px;
}
.about-company {
  width: 519px;
}
.about-logistics {
  margin: 0;
  width: 400px;
}
.about-company,
.contacts-list {
  color: #000000;
  background-color: #ffffff;
}
.about-company h3,
.contacts-list h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 36px;
}

.about-company p,
.contacts-list p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
}
.about-company p {
  margin-bottom: 25px;
}

.contacts-list p {
  width: 179px;
}

.logistics-partners,
.about-company a {
  list-style: none;
}
.logistics-partners {
  margin: 0;
  font-size: 18px;
  line-height: 35px;
}
.about-company a,
.feedback a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  margin: 0;
}
.about-company a {
  width: 220px;
  margin-top: 37px;
}
.feedback a {
  width: 300px;
  margin-top: 40px;
}
p.more-about-company,
p.feedback {
  margin-bottom: 0;
}

.footer {
  background-color: #32425c;
}
.footer a {
  list-style: none;
}
.footer-menu-one {
  display: flex;
  margin: 0;
}
.footer-menu-two {
  display: flex;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 53px;
}
.low-site-navigation {
  display: flex;
  margin: 0;
  padding-left: 173px;
  width: 600px;
  justify-content: space-between;
  padding-top: 42px;
}
.low-site-navigation,
.low-menu {
  list-style: none;
}
.low-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 91px;
  width: 550px;
}
.low-site-navigation a,
.low-contacts {
  color: #f3f7f9;
}
.low-contacts {
  margin: 0;
  width: 322px;
}
.low-menu a {
  color: #ffd180;
}
.low-site-navigation a:hover,
.low-menu a:hover {
  text-decoration: underline;
}
.low-site-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}
.low-menu a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}
.low-logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  padding: 20px 41px;
}
.footer-links {
  background-color: #293449;
}
.footer-links-content {
  display: flex;
  padding-top: 39px;
  padding-bottom: 35px;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100px;
}
.about-developer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 140px;
  width: 360px;
}
.about-developer p {
  width: 135px;
  margin: 0;
}
.footer-copyright,
.feedback-mail,
.developer {
  font-size: 16px;
  line-height: 18px;
}
.footer-copyright {
  padding: 0;
  width: 257px;
  margin: 0;
  margin-right: 162px;
}
.feedback-mail a,
.developer a {
  color: #ffd180;
}
.feedback-mail a:hover,
.developer a:hover {
  text-decoration: underline;
}
.feedback-mail a:active,
.developer a:active {
  color: #ee3643;
  text-decoration: none;
}
.footer-social {
  list-style: none;
  margin: 0;
}
.footer-social a {
  background-color: #212a3a;
}
.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}
.modal {
  display: none;
}
